<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/algaworks.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/application.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/layoutPadrao.css}" />
</head>
<body>
	<div class="aw-layout-loading  js-loading-overlay">
		<div class="aw-layout-loading__container">
			<span class="aw-balls-spinner">Carregando...</span>
		</div>
	</div>

<!-- Menu Superior -->

<div class="aw-layout-page">

		<nav
			class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference"
			id="main-navbar">
			<div class="container-fluid">

				<div class="navbar-header">
					<a class="navbar-brand  hidden-xs" href="#"> 
						<img id="logo-utfpr" alt="logo" th:src="@{/images/logo-simples.png}" />
					</a>

					<ul class="nav  navbar-nav">
						<li><a href="#" class="js-sidebar-toggle"><i
								class="fa  fa-bars"></i></a></li>
					</ul>
				</div>

				<ul class="nav navbar-nav  navbar-right">

					<li><a href="/logout"><em class="fa  fa-sign-out"></em></a></li>
				</ul>

			</div>
		</nav>

		<!-- Fim do menu superior -->

		<!-- Comeco menu lateral -->
		<aside class="aw-layout-sidebar  js-sidebar">
			<div class="aw-layout-sidebar__content">

				<nav class="aw-menu  js-menu">
					<ul class="aw-menu__list">

						<li class="aw-menu__item"><a href="/"><i
								class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a></li>

						<li class="aw-menu__item  is-active"><a href="#"> <i
								class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span> <i
								class="aw-menu__navigation-icon  fa"></i>
						</a>

							<ul class="aw-menu__list  aw-menu__list--sublist">
								<li class="aw-menu__item  aw-menu__item--link  is-active"><a
									href="/atividade/novo">Cadastro de Atividade</a></li>
								<li class="aw-menu__item  aw-menu__item--link  is-active"><a
									href="/cadastro-turma">Cadastro de Turma</a></li>
								<li class="aw-menu__item  aw-menu__item--link  is-active"><a
									href="/cadastro-professor">Cadastro de Professor</a></li>
								<li class="aw-menu__item  aw-menu__item--link  is-active"><a
									href="/cadastro-departamento">Cadastro de Departamento</a></li>
								<li class="aw-menu__item  aw-menu__item--link  is-active"><a
									href="/cadastro-curso">Cadastro de Curso</a></li>
								<li class="aw-menu__item  aw-menu__item--link  is-active"><a
									href="/cadastro-disciplina">Cadastro de Disciplina</a></li>
								<li class="aw-menu__item  aw-menu__item--link  is-active"><a
									href="/cadastro-aluno">Cadastro de Aluno</a></li>
								<li class="aw-menu__item  aw-menu__item--link  is-active"><a
									href="/cadastro-matricula">Cadastro de Matricula</a></li>
								<li class="aw-menu__item  aw-menu__item--link  is-active"><a
									href="/professor/designarAtividade">Designar para Professor</a></li>
							</ul></li>
					</ul>
				</nav>

			</div>
		</aside>

		<!-- Fim menu lateral -->

		<!-- Conteudo -->

		<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>

		<!-- Fim Conteudo -->
		<footer class="aw-layout-footer  js-content">
			<div class="container-fluid">
				<span class="aw-footer-disclaimer">&copy; By Rafael Hiroshi
					Falasz Shintani</span>
			</div>
		</footer>

</div>

	<script th:src="@{/javascripts/vendors.min.js}"></script>
	<script th:src="@{/javascripts/algaworks.min.js}"></script>

</body>
</html>