<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Cadastro de Funcionário</title>

<link rel="stylesheet" type="text/css"
	th:href="@{stylesheets/vendors.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{stylesheets/algaworks.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{stylesheets/application.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{stylesheets/cadastro-matricula.css}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<!-- Comeca Conteudo -->
	<section layout:fragment="conteudo">


		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Matricula</h1>
			</div>
		</div>
		<form method="POST" th:object="${matricula}">
			<div class="container-fluid">

					<div class="alert alert-success alert-dismissible " role="alert" th:if="${not #strings.isEmpty(mensagem)}">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
						<span th:text="${mensagem}"></span>
					</div>
				<div class="alert  alert-danger  alert-dismissible" role="alert"
					th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<th:block th:each="erro : ${#fields.detailedErrors()}">
						<i class="fa  fa-exclamation-circle"></i>
						<span th:text="${erro.message}">ERRO</span>
					</th:block>
				</div>

				<div class="row">
					<div class="form-group col-sm-3">
						<label for="input-aluno">Código do aluno</label> <input
							id="input-aluno" type="text" class="form-control"
							th:field="*{aluno}" autocomplete="off"/>
					<button class="btn  btn-primary" type="button" data-toggle="modal" data-target="#ProcuraAlunoModal" rel="tooltip" data-placement="top">Procurar</button>
					</div><div class="col-sm-3">
						<label >Nome do aluno: </label>
						<span id="nome-aluno">Nenhum aluno encontrado</span>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<label for="input-disciplina" class="control-label">Procure a turma pelo nome da disciplina</label> 
						<input id="input-disciplina" type="text" class="form-control" autocomplete="off"/> 
						<input id="valor-disciplina" type="hidden" class="form-control" th:field="*{turma.codigo}" />
						<div id="lista-disciplina" class="escondido">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>#</th>
										<th>Disciplina</th>
										<th>Curso</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</div>
		<div layout:include="ProcuraAlunoModal"></div>
		</form>
		<script th:src="@{javascripts/jquery-3.1.1.min.js}"></script>
		<script th:src="@{javascripts/cadastro-matricula.js}"></script>
	</section>

	<!-- 	Fim do conteudo -->

</body>
</html>