<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/PesquisaModal.css}" />



<div class="modal fade" id="ProcuraProfessorModal" tabindex="-1" data-keyboard="" data-backdrop="static">
	<div class="modal-dialog">
		    <div class="modal-content">
		    	<div class="modal-header">		        	
		        	<h4 class="modal-title">Pesquisa de Professor</h4>
		      	</div>
		      	<div class="modal-body">
		      		<div class="row">
		      			<div class="col-sm-8">
							<label for="pesquisa">Nome do Professor</label> <input
								id="pesquisa" type="text" class="form-control"/>
						</div>
					</div>
					<div class="row" id="div-tabela-professor">
		        		<table class="table table-condensed">
			        		<thead>
			        			<tr>
			        				<th>#</th>
			        				<th>Nome</th>
			        				<th>Departamento</th>
			        				<th>Endereço</th>
			        				<th>Data de Nascimento</th>
			        			</tr>
			        		</thead>
			        		<tbody id="tabela-pesquisa-professor">
			        		</tbody>
		        		</table>
		        	</div>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		      	</div>
		    </div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<script th:src="@{/javascripts/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/javascripts/PesquisaProfessor.js}"></script>
</html>